/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh; 
    gap: 16px;
}

.foto {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.identification, .information {
    background-color: rgb(49, 34, 62);
    display: flex;
    flex-direction: column;
    color: white;
    width: 400px;
    position: relative;
    height: 400px;
}

.information {
    width: fit-content;
}

.window-header {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.mac-buttons {
    display: flex;
    gap: 8px;
    padding: 5px;
}

.mac-buttons div {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.close {
    background-color: #ff5f57;
}

.minimize {
    background-color: #ffbd2e;
}

.expand {
    background-color: #28c840;
}

/* Neon Divider Line */
.neon-divider {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,229,255,1) 100%);
    box-shadow: 0 0 10px rgba(255,0,150,0.8), 0 0 10px rgba(0,229,255,0.8);
}

.content {
    padding: 32px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.social-link {
    color: white;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-link:hover {
    color: #1da1f2;
}

/* Code Block Styling */
pre {
    width: 100%;
    background-color: #2b213a;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
    margin-top: 20px;
    color: #e5e5e5;
    font-size: 14px;
}

.code-block {
    font-family: 'Courier New', monospace;
    color: #e5e5e5;
    line-height: 1.5;
}

.code-block .string {
    color: #a6e22e; /* Strings color */
}

.code-block .number {
    color: #ae81ff; /* Numbers color */
}

.code-block .keyword {
    color: #f92672; /* Keywords color */
}

/* Adding color to syntax */
.code-block .key {
    color: #66d9ef;
}
